.u-grid-col-6 {
    width: 100% !important;
}

.u-grid-col-5 {
    width: 83.33% !important;
}

.u-grid-col-4 {
    width: 66.664% !important;
}

.u-grid-col-3{
    width: 50% !important;
}

.u-grid-col-2{
	width: 33.33% !important;
}

.u-grid-col-1{
	 width: 16.66% !important;
}

